.section1 {
  margin-left: 7rem;
  margin-right: 3rem;
  margin-top: 0.5rem;
  display: flex;
  text-align: start;
  flex-direction: column;
  border: 2px rgb(228, 6, 213) solid;
}
.div1 {
  border: none;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}
.div1:hover {
  background-color: rgb(225, 222, 222);
}
.iconContainer {
  margin-right: 1.5rem;
}
.mainSectionContainer {
  border: 2px rgb(5, 7, 6) solid;
}

.icons {
  border: 7px rgb(225, 130, 6) solid;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 30px;
}
.text {
  border: 4px rgb(225, 130, 6) solid;
  font-size: 1.2rem;
  font-weight: 2rem;
}
.icons :hover {
  background-color: grey;
}
