
.section{
    width :40rem ;
    height:80rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 25rem;
    
    
    /* position: relative;
    overflow-y: scroll;
    scroll-behavior:auto ;
    height: auto;
     */
}
/* .top{
    display: flex;
} */
.top>h3{
    margin-top: 0rem; 
}
.top>h6{
    margin-top:-1.2rem;
}
.maintop{
    margin-top: -1.5rem;
    background-color:lightgray;
    width:40rem;
    height:14rem;
    
}

.mainbottom{
    margin-top: -1.5rem;
    background-color:white;
    width:40rem;
    height:14rem;
    background-color: white;

}
.mainbottom>div{
   position: absolute;
   transform: translate3d(20%,-50%,0);
}

.mainbottom>h3{
    margin-top: 4rem;
    margin-left: 0.6rem;
 }
.mainbottom>h5{
   margin-top: -1.2rem;
   margin-left: 0.6rem;
   color:rgb(80, 69, 69);
}
.calender{
    display: flex;
    align-items: center;
    margin-left:-1.5rem;
    margin-left: -1rem;
    
}
.calender>h6{
    color:rgb(80, 69, 69);  
}
.mainbottom>h6{
    margin-top:3rem ;
    color:rgb(80, 69, 69);
    margin-left: 0.6rem;
    ;
 }
.mainbottom>button{
    font-weight: bold;
    
}
.container{
 
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}
